<template>
    <Card>
        <div class="d-flex align-items-center justify-content-between">
            <Headline v-if="readonly" class="project-item__title">{{ name || '-' }}</Headline>
            <NuxtLink :to="'/' + id" v-else="readonly">
                <Headline class="project-item__title">{{ name || '-' }}</Headline>
            </NuxtLink>
            <div v-if="!readonly">
                <Dropdown>
                    <Card class="py-1">
                        <div class="action-menu">
                            <NuxtLink :to="'/' + id">
                                <button class="project-action">Edit</button>
                            </NuxtLink>
                            <button v-if="withUpload" @click="$emit('openprocessingmodal', {
                                id,
                                name,
                                themes
                            })" class="project-action">Process</button>
                            <button class="project-action" @click="onDeleteItem(id)">Delete</button>
                        </div>
                    </Card>
                </Dropdown>
            </div>
            
        </div>
        <div class="project-item__labels">
            <Label v-for="theme, index in foundThemes" :key="'found' + index" variant="warning">
                {{ theme }}
            </Label>
            <Label v-for="theme, index in themesShort" :key="index" variant="positive">
                {{ theme }}
            </Label>
            <Label key="more" variant="neutral" v-if="themes.length - themesShort.length - (foundThemes.length)">{{ themes.length - themesShort.length - (foundThemes.length) }} more</Label>
        </div>
    </Card>
</template>
<style lang="scss" scoped>
    .project-item__title {
        margin-bottom: 20px;
    }
    .project-item__labels {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    .project-action {
        display: block;
        width: 100%;
        font-size: 12px;
        border: none;
        background: $primaryWhite;
        cursor: pointer;
        padding: 13px 10px;
        color: $primaryBlack;
        text-align: left;
        font-weight: 500;
        font-family: inherit;
        transition: color 0.2s;
        &:hover {
            color: $cian;
        }
    }
    .action-menu {
        display: flex;
        flex-direction: column;
        gap: 1px;
        background: $grayLightGray;
    }
</style>

<script lang="ts">
    import { defineComponent } from 'vue'
    import Headline from '@/components/headline.vue';
    import Card from '@/components/card.vue';
    import Label from '@/components/label.vue';
    import Button from '@/components/button.vue';
    import Dropdown from '@/components/dropdown.vue';
    import List from '@/components/list.vue';
    import type { ThemeModel } from '@/entity/project/models/ThemeModel';

    export default defineComponent({
        name: 'ProjectItem',
        components: {
            Headline,
            Label,
            Card,
            Button,
            Dropdown,
            List,
        },
        props: {
            id: Number,
            name: String,
            themes: Array,
            withUpload: {
                type: Boolean,
                default: false
            },
            readonly: {
                type: Boolean,
                default: false
            },
            query: String
        },
        computed: {
            foundThemes() {
                return (this as any).query ? (this as any).themes.filter((n: ThemeModel) => n.toLowerCase().includes((this as any).query.toLowerCase())) : [];
            },
            themesShort() {
                if (this.foundThemes.length) {
                    return (this as any).themes.filter((n: string) => !this.foundThemes.includes(n)).slice(0, 3);
                }
                return (this as any).themes.slice(0, 3);
            },
        },
        methods: {
            onDeleteItem(id: any) {
                this.$store.dispatch('project/item/deleteItem', { id });
            }
        }
    })
</script>
  