<template>
  <div>
    <List>
      <ProjectItem v-for="project, index in projectsFiltered" :query="query" :id="project.id" :name="project.name" :themes="project.themes" :with-upload="true" v-on:openprocessingmodal="openProcessingModal" :key="index" />
    </List>

    <Modal v-on:closemodal="closeProcessingModal" v-if="item">
      <Headline variant="20pt" class="mb-3">For processing</Headline>
      <Tabs class="mb-2" :items="types" :selected="type" @change="setType" />
      <ProjectItem :id="item.id" :name="item.name" :themes="item.themes" :readonly="true" />
      <div class="processing my-5" v-if="processing">
        <Spinner />
      </div>
      <template v-else="processing">
        <FileUpload class="d-block mt-2" title="File for processing" :uploaded="file != null" v-on:onupload="handleFileUpload" />
        <div class="mt-3 text-center">
          <Button @click="handleSubmit" size="small" :disabled="!(item && file && !processing)">Send</Button>
        </div>
      </template>
    </Modal>
  </div>
</template>
  
<script lang="ts">
  import Vue from 'vue';
  import ProjectItem from './project-item.vue';
  import List from '@/components/list.vue';
  import Button from '@/components/button.vue';
  import Modal from '@/components/modal.vue';
  import FileUpload from '@/components/file-upload.vue';
  import Spinner from '@/components/spinner.vue';
  import { ProjectModel } from '../models/ProjectModel';
  import Tabs from '@/components/tabs.vue';
  
  export default Vue.extend({
    name: 'ProjectList',
    data() {
      return {
        item: null as ProjectModel | null,
        file: null as File | null,
        type: 'you_scan'
      }
    },
    props: {
      query: {
        type: String,
        default: ''
      }
    },
    components: {
        ProjectItem,
        List,
        Modal,
        FileUpload,
        Button,
        Spinner,
        Tabs,
    },
    methods: {
      setType(payload: any) {
        this.type = payload;
      },
      openProcessingModal(item: ProjectModel) {
        this.item = item;
      },
      closeProcessingModal() {
        this.item = null;
        this.file = null;
      },
      handleFileUpload(file: File) {
        this.file = file;
      },
      handleSubmit() {
        if (this.item && this.file) {
          const form = new FormData();
          const themesFormatted = this.item.themes.reduce((acc, cur) => {
            return `${acc}\n${cur},`;
          }, '');
          form.append('themes', themesFormatted);
          form.append('file', this.file);
          form.append('type', this.type);
          this.$store.dispatch(
            'project/item/processMentions', 
            { payload: form, onSuccess: () => {
              this.item = null;
              this.file = null;
            }
          });
        }
      }
    },
    computed: {
      types() {
        return [
          { id: 'you_scan', label: 'You scan' },
          { id: 'brand_analytics', label: 'Brand Analytics' }
        ];
      },
      projects(): Array<ProjectModel> | null {
        return this.$store.state.project.list.data
      },
      projectsFiltered() {
        return this.query?.length > 0 ? 
          (this as any).projects?.filter(
            (n: ProjectModel) => n.name.toLowerCase().includes(this.query.toLowerCase()) || 
            n.themes.find(
              m => m.toLowerCase().includes(this.query.toLowerCase())
          )) : (this as any).projects;
      },
      processing() {
        return this.$store.state.project.item.processing;
      }
    }
  })
</script>
  
<style lang="scss" scoped>
  .processing {
    text-align: center;
  }
</style>