<template>
    <button :class="['button', size, variant]" v-bind="$attrs" v-on="$listeners">
        <slot></slot>
    </button>
</template>
<style lang="scss" scoped>
    .button {
        border-radius: 4px;
        color: $primaryWhite;
        outline: none;
        border: none;
        font-family: inherit;
        cursor: pointer;
        transition: background-color 0.3s;
        &.dark-gray {
            background-color: $grayDark;
            &:active {
                background-color: $primaryBlack;
            }
        }
        &.cian {
            background-color: $demographicsCian;
            &:active {
                background-color: $cian;
            }
        }
        &.red {
            background-color: $toneNegative;
            &:active {
                background-color: $primaryRed;
            }
        }

        &:disabled {
            background-color: $grayGray!important;
        }

        &.small {
            font-size: 12px;
            padding: 9px 8px;
        }
        &.medium {
            font-size: 14px;
            padding: 16px 12px;
        }
        &.large {
            font-size: 16px;
            padding: 23px 16px;
        }
    }
    
</style>

<script lang="ts">
    import { defineComponent } from 'vue';

    export default defineComponent({
        name: 'Button',
        props: {
            variant: {
                type: String,
                validators: (value: string) =>
                    ['dark-gray', 'cian', 'red'].includes(value),
                default: 'cian'
            },
            size: {
                type: String,
                validators: (value: string) =>
                    ['small', 'medium', 'large'].includes(value),
                default: 'medium'
            },
        }
    });
</script>
  