<template>
    <div class="card" v-bind="$attrs">
        <slot></slot>
    </div>
</template>
<style lang="scss" scoped>
    .card {
        background-color: $primaryWhite;
        border-radius: 4px;
        padding: 20px;
    }
</style>

<script lang="ts">
    import { defineComponent } from 'vue';

    export default defineComponent({
        name: 'Card',
    });
</script>
  