<template>
    <div class="dropdown-base">
        <button class="dropdown-button" @click="toggleMenu">
            <span>︙</span>
        </button>
        <Transition name="slide-fade">
            <div class="content" v-if="active" v-click-outside="hideMenu" >
                <slot></slot>
            </div>
        </Transition>
    </div>
</template>
<style lang="scss" scoped>
    .dropdown-base {
        position: relative;
    }
    .dropdown-button {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
    .content {
        position: absolute;
        right: 0;
        top: 35px;
        width: 200px;
        z-index: 99;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0px 5px rgba(0,0,0,.2);
    }
    .slide-fade-enter-active {
        transition: all 0.1s ease-out;
    }

    .slide-fade-leave-active {
        transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .slide-fade-enter-from,
    .slide-fade-leave-to {
        transform: translateY(20px);
        opacity: 0;
    }
</style>

<script lang="ts">
    import { defineComponent } from 'vue';

    export default defineComponent({
        name: 'Dropdown',
        data() {
            return {
                active: false
            }
        },
        methods: {
            toggleMenu() {
                this.active = !this.active;
            },
            hideMenu() {
                if (this.active) 
                    this.active = false;
            }
        }
    });
</script>
  