<template>
    <label>
        <Card class="fileupload">
            <div class="fileupload__info">
                <Headline>{{ title }}</Headline>
            </div>
            <div class="fileupload__icon-wrapper">
                <img v-if="uploaded" src="@/components/icons/file-uploaded-icon.svg" />
                <img v-if="!uploaded" src="@/components/icons/upload-icon.svg" />
            </div>
        </Card>
        <input type="file" hidden @change="handleFileUpload" />
    </label>
</template>
<style lang="scss" scoped>
    .fileupload {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px dashed $grayLightGray;
        cursor: pointer;
        &__icon-wrapper {
            display: flex;
            align-items: center;
        }
    }
</style>

<script lang="ts">
    import { defineComponent } from 'vue';
    import Headline from '@/components/headline.vue';

    export default defineComponent({
        name: 'FileUpload',
        components: {
            Headline,
        },
        methods: {
            handleFileUpload(e: Event) {
                this.$emit('onupload', (e.target as HTMLInputElement).files?.[0]);
            }
        },
        props: {
            title: String,
            uploaded: Boolean,
        }
    });
</script>
  