<template>
    <p :class="['pbase', 'p' + variant]">
        <slot></slot>
    </p>
</template>
<style lang="scss" scoped>
    .pbase {
        font-style: normal;
        font-weight: 700;
        color: $primaryBlack;
        margin: 0;
    }
    .p14pt {
        font-size: 14px;
        line-height: 18px;
    }
    .p16pt {
        font-size: 16px;
        line-height: 24px;
    }
    .p20pt {
        font-size: 20px;
        line-height: 20px;
    }
    .p36pt {
        font-size: 36px;
        line-height: 40px;
    }
</style>

<script lang="ts">
    import { defineComponent } from 'vue';

    export default defineComponent({
        name: 'Headline',
        props: {
            variant: {
                type: String,
                validators: (value: string) =>
                    ['14pt', '16pt', '20pt', '36pt'].includes(value),
                default: '14pt'
            },
        }
        
    });
</script>
  