<template>
    <Headline :class="['label_base', variant]" v-bind="$attrs" v-on="$listeners">
        <slot></slot>
    </Headline>
</template>
<style lang="scss" scoped>
    .label_base {
        border-radius: 34px;
        padding: 3px 12px;
        &.basic {
            background-color: $primaryWhite;
            color: $primaryBlack;
        }
        &.negative {
            background-color: $negative10;
            color: $toneNegative;
        }
        &.positive {
            background-color: $positive10;
            color: $tonePositive;
        }
        &.neutral {
            background-color: $neutral10;
            color: $grayDarkGray;
        }
        &.warning {
            background-color: #f7ffc0;
            color: #ffab00;
        }
    }
    
</style>

<script lang="ts">
    import { defineComponent } from 'vue';
    import Headline from '@/components/headline.vue';

    export default defineComponent({
        name: 'Label',
        components: {
            Headline
        },
        props: {
            variant: {
                type: String,
                validators: (value: string) =>
                    ['basic', 'negative', 'positive', 'neutral', 'warning'].includes(value),
            },
        }
    });
</script>
  