<template>
    <div class="base">
        <slot></slot>
    </div>
</template>
<style lang="scss" scoped>
    .base {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1px;
    }
</style>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'List',
})
</script>
  