<template>
    <div class="modal">
        <Card class="modal__content">
            <slot></slot>
        </Card>
        <div class="modal__overlay" @click="$emit('closemodal')"></div>
    </div>
</template>
<style lang="scss" scoped>
    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        &__content {
            max-height: 700px;
            overflow: auto;
            z-index: 1;
            max-width: 600px;
            width: 100%;
            background-color: $globalBackground;
        }
        &__overlay {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
        }
    }
</style>

<script lang="ts">
    import { defineComponent } from 'vue';

    export default defineComponent({
        name: 'Modal',
        props: {
            variant: {
                type: String,
                validators: (value: string) =>
                    ['dark-gray', 'cian', 'red'].includes(value),
                default: 'cian'
            },
            size: {
                type: String,
                validators: (value: string) =>
                    ['small', 'medium', 'large'].includes(value),
                default: 'medium'
            },
        }
    });
</script>
  