<template>
    <div class="tabs-wrapper" v-bind="$attrs">
        <button v-for="item in items" :class="[item.id === selected ? 'tab--selected' : '', 'tab']" @click="$emit('change', item.id)">{{ item.label }}</button>
    </div>
</template>
<style lang="scss" scoped>
    .tabs-wrapper {
        display: inline-block;
        background-color: $grayLightGray;
        padding: 5px;
        border-radius: 5px;
    }
    .tab {
        font-family: inherit;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        font-size: 13px;
        color: #000;
        padding: 9px 20px;
        cursor: pointer;
        font-weight: 600;
        transition: background-color 0.3s;
        &--selected {
            background-color: #fff;
        }
    }
</style>

<script lang="ts">
    import { PropType, defineComponent } from 'vue';
    type ITab = { id: string, label: string };

    export default defineComponent({
        name: 'Tabs',
        props: {
            items: {
                type: [] as PropType<Array<ITab>>,
                default: []
            },
            selected: {
                type: String,
                default: null,
            },
        }
    });
</script>
  