<template>
	<form class="container form" @submit="handleSubmit">
		<h2 class="text-center">Sign in</h2>

		<input v-model="username" type="text" placeholder="Username" />

		<input
			v-model="password"
			type="password"
			placeholder="Password"
		/>

		<Button type="submit" size="small">Sign in</Button>
	</form>
</template>

<script>
export default {
	layout: 'auth',
	data() {
		return {
			username: '',
			password: '',
		}
	},
	methods: {
		handleSubmit(e) {
			e.preventDefault()
			this.$store.dispatch('auth/login', {
				data: {
					username: this.username,
					password: this.password,
				},
			})
		},
	},
}
</script>

<style lang="scss" scoped>
.form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 400px;
	margin-top: 20vh;
}
</style>
