$globalBackground: #F5F5F5;
$primaryWhite: #fff;

$primaryBlack: #141414;

$grayLightGray: #DFE2E4;
$grayDarkGray: #585C5E;
$grayDark: #353738;
$grayGray: #909699;

$cian: #1D5BFF;
$demographicsCian: #3D72FD;


$negative10: rgba(248, 73, 61, 0.1);
$positive10: rgba(52, 185, 105, 0.1);
$neutral10: rgba(155, 163, 168, 0.1);

$primaryRed: #ED1C24;
$toneNegative: #F8493D;

$tonePositive: #34B969;