@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-Black.eot');
    src: local('Mont Black'), local('Mont-Black'),
        url('@/assets/mont/Mont-Black.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-Black.woff2') format('woff2'),
        url('@/assets/mont/Mont-Black.woff') format('woff'),
        url('@/assets/mont/Mont-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-ThinItalic.eot');
    src: local('Mont Thin Italic'), local('Mont-ThinItalic'),
        url('@/assets/mont/Mont-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-ThinItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-ThinItalic.woff') format('woff'),
        url('@/assets/mont/Mont-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-ExtraLight.eot');
    src: local('Mont ExtraLight'), local('Mont-ExtraLight'),
        url('@/assets/mont/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-ExtraLight.woff2') format('woff2'),
        url('@/assets/mont/Mont-ExtraLight.woff') format('woff'),
        url('@/assets/mont/Mont-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-Bold.eot');
    src: local('Mont Bold'), local('Mont-Bold'),
        url('@/assets/mont/Mont-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-Bold.woff2') format('woff2'),
        url('@/assets/mont/Mont-Bold.woff') format('woff'),
        url('@/assets/mont/Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-HeavyItalic.eot');
    src: local('Mont Heavy Italic'), local('Mont-HeavyItalic'),
        url('@/assets/mont/Mont-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-HeavyItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-HeavyItalic.woff') format('woff'),
        url('@/assets/mont/Mont-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-BlackItalic.eot');
    src: local('Mont Black Italic'), local('Mont-BlackItalic'),
        url('@/assets/mont/Mont-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-BlackItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-BlackItalic.woff') format('woff'),
        url('@/assets/mont/Mont-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-ExtraLightItalic.eot');
    src: local('Mont ExtraLight Italic'), local('Mont-ExtraLightItalic'),
        url('@/assets/mont/Mont-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-ExtraLightItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-ExtraLightItalic.woff') format('woff'),
        url('@/assets/mont/Mont-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-Heavy.eot');
    src: local('Mont Heavy'), local('Mont-Heavy'),
        url('@/assets/mont/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-Heavy.woff2') format('woff2'),
        url('@/assets/mont/Mont-Heavy.woff') format('woff'),
        url('@/assets/mont/Mont-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-SemiBold.eot');
    src: local('Mont SemiBold'), local('Mont-SemiBold'),
        url('@/assets/mont/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-SemiBold.woff2') format('woff2'),
        url('@/assets/mont/Mont-SemiBold.woff') format('woff'),
        url('@/assets/mont/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-RegularItalic.eot');
    src: local('Mont Regular Italic'), local('Mont-RegularItalic'),
        url('@/assets/mont/Mont-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-RegularItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-RegularItalic.woff') format('woff'),
        url('@/assets/mont/Mont-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-BoldItalic.eot');
    src: local('Mont Bold Italic'), local('Mont-BoldItalic'),
        url('@/assets/mont/Mont-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-BoldItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-BoldItalic.woff') format('woff'),
        url('@/assets/mont/Mont-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-SemiBoldItalic.eot');
    src: local('Mont SemiBold Italic'), local('Mont-SemiBoldItalic'),
        url('@/assets/mont/Mont-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-SemiBoldItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-SemiBoldItalic.woff') format('woff'),
        url('@/assets/mont/Mont-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-LightItalic.eot');
    src: local('Mont Light Italic'), local('Mont-LightItalic'),
        url('@/assets/mont/Mont-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-LightItalic.woff2') format('woff2'),
        url('@/assets/mont/Mont-LightItalic.woff') format('woff'),
        url('@/assets/mont/Mont-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-Thin.eot');
    src: local('Mont Thin'), local('Mont-Thin'),
        url('@/assets/mont/Mont-Thin.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-Thin.woff2') format('woff2'),
        url('@/assets/mont/Mont-Thin.woff') format('woff'),
        url('@/assets/mont/Mont-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
        url('@/assets/mont/Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-Regular.woff2') format('woff2'),
        url('@/assets/mont/Mont-Regular.woff') format('woff'),
        url('@/assets/mont/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('@/assets/mont/Mont-Light.eot');
    src: local('Mont Light'), local('Mont-Light'),
        url('@/assets/mont/Mont-Light.eot?#iefix') format('embedded-opentype'),
        url('@/assets/mont/Mont-Light.woff2') format('woff2'),
        url('@/assets/mont/Mont-Light.woff') format('woff'),
        url('@/assets/mont/Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
