* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: $globalBackground;
    font-family: 'Mont', sans-serif;
}

.container {
    max-width: 900px;
    margin: auto;
    position: relative;
}

