<template>
    <div class="container">
      <div class="mt-5 mb-4 d-flex align-items-center justify-content-between">
        <Headline variant="20pt">Create project</Headline>
      </div>
      <Card>
        <input class="d-block w-100" v-model="name" placeholder="Name of the project" autocomplete="off" />

        <div class="label-row my-2">
            <template v-for="theme, index in themes">
                <Label variant="negative" class="pr-1">
                    {{ theme }}
                    <Button style="border-radius: 100px" class="p-1 px-2 ml-3" size="small" variant="red" @click="onThemeDelete(index)">-</Button>
                </Label>
            </template>
        </div>
        <div class="d-flex">
            <input v-model="themeTmp" placeholder="Theme title" autocomplete="off"  />
            
            <Button class="ml-2" variant="dark-gray" size="small" @click="onThemeAdd">Add theme</Button>
        </div>
      </Card>
      <div class="d-flex align-items-center mt-4 text-center justify-content-center">
        <NuxtLink to="/">
            <Button variant="dark-gray">Back</Button>
        </NuxtLink>
        <Button class="ml-2" @click="onSubmit">Create project</Button>
      </div>
    </div>
</template>
<style lang="scss" scoped>
    .label-row {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }
</style>
<script lang="ts">
    import Vue from 'vue'
    import Headline from '@/components/headline.vue';
    import Card from '@/components/card.vue';
    import Label from '@/components/label.vue';
    import Button from '@/components/button.vue';
    import { ProjectModel } from '~/entity/project/models/ProjectModel';

    interface IData {
        name: string;
        themeTmp: string;
        themes: ProjectModel['themes'];
    }

    interface IMethods {
        onThemeAdd: () => void;
        onThemeDelete: (i: number) => void;
        onSubmit: () => void;
    }

    export default Vue.extend<IData, IMethods, {}, never>({
        name: 'CreateProjectPage',
        data() {
            return {
                name: '',
                themeTmp: '',
                themes: [],
            }
        },
        components: {
            Headline,
            Button,
            Card,
            Label,
        },
        methods: {
            onThemeAdd() {
                if (this.themeTmp?.length > 0) {
                    this.themes.push(this.themeTmp);
                    this.themeTmp = '';
                } else {
                    alert('Fill the theme title');
                }
            },
            onThemeDelete(index) {
                this.themes.splice(index, 1);
            },
            onSubmit() {
                if (this.name?.length > 0) {
                    this.$store.dispatch('project/item/createItem', {
                        name: this.name,
                        themes: this.themes,
                    });
                }
            }
        }
    })
</script>
