<template>
  <div class="container my-5">
    <div class="mb-4 d-flex align-items-center justify-content-between">
      <Headline variant="20pt">Projects ({{ projectsLength }})</Headline>
      <div class="col ml-4">
        <input placeholder="Project name, tag..." v-model="query" autocomplete="off" />
      </div>
      <NuxtLink to="/create-project">
        <Button size="small">Create project</Button>
      </NuxtLink>
      <Button size="small" class="ml-2" variant="red" @click="logout">Logout</Button>
    </div>
    <ProjectList :query="query" />
  </div>
</template>
<script lang="ts">
  import Vue from 'vue'
  import Headline from '@/components/headline.vue';
  import Button from '@/components/button.vue';
  import ProjectList from '@/entity/project/ui/project-list.vue';

  export default Vue.extend({
    name: 'IndexPage',
    data() {
      return {
        query: ''
      }
    },
    computed: {
      projectsLength() {
        return this.$store.state.project.list.data?.length ?? 0
      }
    },
    components: {
      Headline,
      ProjectList,
      Button,
    },
    methods: {
      logout() {
        this.$store.dispatch('auth/logout');
      }
    },
    async asyncData({ store }) {
      await store.dispatch('project/list/fetchList')
    }
  })
</script>
